<ul class="col-md-12 task-card <%= task.status %> <%= task.category %>>
  <li id="task-<%= task.id %>"><%= link_to "(#{task.value}) - #{task.task}", edit_sprint_task_path(@sprint, task), class: "btn btn-mini to-do-list" %>  <%= link_to "-", [@sprint, task], method: :delete, class:'pull-right', remote: true %></li>
</ul>
