<div class="container avoid-menu">

    <% @types.each do |food_type| %>
      <div class="col-lg-3 col-md-2">
      <br>
      <br>
      <br>
      <h3 class="type-of-food"><%= food_type %></h3>
      <% @recipes.each do |recipe| %>
        <% if recipe.type_of_food == food_type %>
          <%= link_to measurement_path(recipe) do %>
            <h5><%= recipe.name %><%= recipe.multiplier_view %></h5>
          <% end %>
        <% end %>
      <% end %>
      </div>
    <% end %>


  <div class="col-lg-12 col-md-12">
      <br>
      <br>
      <br>
      <br>

    <%= link_to "Grocery List", grocery_lists_path(format: 'csv'), class: "btn btn-lg btn-gray", data: {turbolinks: false} %>
  </div>
</div>
