<div class="wrapper">
  <!-- Page Header-->
  <section class="module-page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="m-b-10">First Class Financial Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="post-meta h6">
            <br>
            <li>CTO & Full Stack Devevloper</li>
            <br>
            <br>
            <li>Ruby on Rails * HTML * CSS3 * Boostrap * JavaScript * JQuery * D3.js * PostgreSQL </li>
            <br>
            <br>
          </ul>
        </div>
        <div class="col-md-12">
          <ul class="post-meta h6">
          </ul>
          <p>I was fortunate enough to work my way into the poistion of CTO and Principal Full Stack Developer at a small Denver based mortgage company.  In this position I was responsible for the design, development, and support of custom web applications that improved the user experience and brought greater ease and efficiency to the mortgage process.  I designed and developed First Class Financial Services' front-end website, financing application, client relationship management tool, and dashboard analytics.
            <br><br>In addition, I worked in partnership with the CEO on the creation of proprietary software that automated mortgage process - we called it the Pipeline. The Pipeline is web-based application designed to track all the necssary tasks and dates in the mortgage process, and notify the parties involved (Loan Officers, Underwriters, and Clients) when a task is needed to be complete.  This softawre improved our real estate closing rate by 20% and set several benchmakrs with our lending parnters.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <hr>
        </div>
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Portfolio Single-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-content">
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/fcfs_mockup.jpg') %></div>
                <figcaption class="gallery-caption">Landing page</figcaption>
              </figure>
            </div>
            <div class="gallery gallery-columns-2">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/ipad-analytic-mockup.jpg') %></div>
                <figcaption class="gallery-caption">Ski questionaire</figcaption>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/fcfs-iphone-mockup.png') %></div>
                <figcaption class="gallery-caption">Your skis</figcaption>
              </figure>
            </div>
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/fcfs-macbook.png') %></div>
                <figcaption class="gallery-caption">Compare prices</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio end-->

  <!-- Related Work-->
  <section class="module module-divider-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Related Work</h2>
            <h6>An eye for detail makes our works excellent</h6>
          </div>
        </div>
      </div>
      <div class="row row-portfolio">
        <div class="grid-sizer"></div>
        <div class="portfolio-item js-tilt web design ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-1.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Hilltop</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt photo web ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-4.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Popcorn</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt design branding ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-3.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Color</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Work end-->

  <!-- Footer-->
    <%= render partial: 'footer' %>
  <!-- Footer end-->
</div>
