<div class="wrapper">
  <!-- Page Header-->
  <section class="module-page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="m-b-10">Gear Lift</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="post-meta h6">
            <li>Founder / CEO / Principle Developer</li>
            <br>
            <br>
            <li>Ruby on Rails * WORDPRESS * HTML * CSS3 * Boostrap * JavaScript * PostgreSQL </li>
            <br>
            <li><i class="fa fa-award gearlift-award"></i> Google / TechStars: Startup Weeekend - 1st Place </li>
            <br>
            <br>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="post-meta h6">
          </ul>
          <p>
            As the founder and principle developer, I was responsible for all aspects of the business operations, including: product development / management, design, financing, and business operations.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <hr>
        </div>
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Portfolio Single-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-content">
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('projects/gearlift-two.png') %></div>
                <figcaption class="gallery-caption">Landing page</figcaption>
              </figure>
            </div>
            <div class="gallery gallery-columns-2">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-iphone-6-mockup-2.png') %></div>
                <figcaption class="gallery-caption">Ski questionaire</figcaption>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-macbook-mockup-2.png') %></div>
                <figcaption class="gallery-caption">Filtered down skis recomendations</figcaption>
              </figure>
            </div>
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-ipad-mockup-2.png') %></div>
                <figcaption class="gallery-caption">Find your ski and compare prices</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio end-->

  <!-- Related Work-->
  <section class="module module-divider-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Work end-->

  <!-- Footer-->
    <%= render partial: 'footer' %>
  <!-- Footer end-->
</div>
