<!-- Preloader-->
<%= render partial: 'preloader' %>
<!-- Preloader end-->

<div class="wrapper">

  <!-- Page Header-->
  <section class="module-page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="m-b-10">Gear Lift</h2>
          <ul class="post-meta h6">
            <li>Founder / CEO</li>
            <br>
            <br>
            <li>Full Stack - Ruby on Rails / WORDPRESS / HTML /CSS3 / JavaScript / PostgreSQL </li>
            <br>
            <br>
            <li></li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>At Gear Lift we combine gear expertise, data, and unparalleled convenience to deliver a highly personalized gear buying experience. You will find top brands from Retailers such as Backcountry, REI, evo, Skis.com and more. We are a company of passionate outdoor enthusiasts who love to enjoy great outdoors. Be it skiing, biking, or simply hiking, you are sure to find what you are looking for at Gear Lift.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <hr>
        </div>
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Portfolio Single-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-content">
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('projects/gearlift-two.png') %></div>
                <figcaption class="gallery-caption">The Deep Surface</figcaption>
              </figure>
            </div>
            <div class="gallery gallery-columns-2">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-iphone-6-mockup-2.png') %></div>
                <figcaption class="gallery-caption">The Deep Surface</figcaption>
              </figure>
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-macbook-mockup-2.png') %></div>
                <figcaption class="gallery-caption">The Body Space</figcaption>
              </figure>
            </div>
            <div class="gallery">
              <figure class="gallery-item">
                <div class="gallery-icon"><%= image_tag('portfolio/gearlift-ipad-mockup-2.png') %></div>
                <figcaption class="gallery-caption">The Deep Surface</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio end-->

  <!-- Related Work-->
  <section class="module module-divider-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Related Work</h2>
            <h6>An eye for detail makes our works excellent</h6>
          </div>
        </div>
      </div>
      <div class="row row-portfolio">
        <div class="grid-sizer"></div>
        <div class="portfolio-item js-tilt web design ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-1.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Hilltop</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt photo web ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-4.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Popcorn</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt design branding ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap" data-background="assets/images/portfolio/g-3.jpg"></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Color</h5>
              <h6 class="portfolio-subtitle">Design</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Work end-->

  <!-- Footer-->
    <%= render partial: 'footer' %>
  <!-- Footer end-->
</div>
