<!-- Wrapper-->
<div class="wrapper">

  <!-- Page Header-->
  <section class="module-header full-height parallax bg-dark bg-dark-30 text-left" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h1 m-b-15">Eric <br/> Wiseman</h1>
          <h1 class="h6 m-b-60">Rails Developer / Data Visualization Engineer / Entreprenuer </h1>
          <!-- <h1 class="h6 m-b-60 rotate"> Rails Developer / Data Visualization Engineer / Entreprenuer | Skier / Mt Climber / Wannabe Chef </h1> -->
          <!-- <p><a class="btn btn-brand" href="#"><span>Download resume</span></a></p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Profile-->
  <section class="module" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Profile</h2>
            <h6>In a nutshell</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p> <img class="img-responsive wow fadeIn feature-image" <%= image_tag('banner_images/orizaba.jpg') %></p>
        </div>
        <div class="col-md-4">
          <h5>About Me</h5>
          <p>I design and build data-rich web applications, custom visualizations, and shared visualization components to help people see and reason about data.  I'm at my best when I discovering, and solving data inefficiencies.  When I'm not at my computer, I'm in nature (usually with the family), or in the kitchen making a mess.  </p>
        </div>
        <div class="col-md-4">
          <h5>My Skills</h5>
          <div class="progress-item">
            <div class="progress-title">Rails Development</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">Data Visualization</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">HTML / CSS3 / SASS</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">UI Design</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">React</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="40" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Profile end-->

  <!-- Counters-->
  <section class="module module-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="counter">
            <div class="counter-icon"><i class="fa fa-code"></i></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="4">0</div>
            </h5>
            <h5 class="counter-title">Full Stack Projects</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="counter">
            <div class="counter-icon"><i class="fa fa-chart-area"></i></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="30">0</div>
            </h5>
            <h5 class="counter-title">Data Visualizations</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="counter">
            <div class="counter-icon"><i class="fa fa-award"></i></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="1">0</div>
            </h5>
            <h5 class="counter-title">Awards Won</h5>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Counters end-->

  <!-- Portfolio-->
  <section class="module p-b-0" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Portfolio</h2>
            <h6>For work and fun</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="filters h6" id="filters">
            <li><a class="current" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".entrepreneurship">Entrepreneurship</a></li>
            <li><a href="#" data-filter=".rails">Rails Development</a></li>
            <li><a href="#" data-filter=".dv">Data Visualization</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row-portfolio" data-columns="4">
        <div class="grid-sizer"></div>
        <div class="portfolio-item js-tilt rails entrepreneurship large">
          <div class="portfolio-wrapper">
            <div class="img-responsive"><%= image_tag('projects/gearlift-two.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Gear Lift</h5>
              <h6 class="portfolio-subtitle">Entrepreneurship | Rails Development</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt dv">
          <div class="portfolio-wrapper">
          <div class="portfolio-img-wrap"><%= image_tag('projects/radial-column-two.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Ski Resort Data Sketches</h5>
              <h6 class="portfolio-subtitle">Data Visualization</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt entrepreneurship rails">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap"><%= image_tag('projects/web-app.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">First Class Financial Services</h5>
              <h6 class="portfolio-subtitle">Entrepreneurship | Rails Development</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt dv ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap"><%= image_tag('projects/gdp-area.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">GDP Data Sketches</h5>
              <h6 class="portfolio-subtitle">Data Visualization</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>


      </div>
    </div>
    <br>
      <br>
  </section>
  <!-- Portfolio end-->

  <!-- Services-->
  <!-- <section class="module" id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-telescope"></span></div>
            <div class="icon-box-title">
              <h5>Free Plugins</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-mobile"></span></div>
            <div class="icon-box-title">
              <h5>Fully Responsive</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-chat"></span></div>
            <div class="icon-box-title">
              <h5>Friendly Support</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-gears"></span></div>
            <div class="icon-box-title">
              <h5>Unlimited Colors</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-strategy"></span></div>
            <div class="icon-box-title">
              <h5>Unlimited Headers</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-linegraph"></span></div>
            <div class="icon-box-title">
              <h5>Google Web Fonts</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Services end-->

  <!-- Resume-->
  <section class="module module-gray" id="resume">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Resume</h2>
            <h6>Where I've Been</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('banner_images/home-page.png') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Founder / CEO</h5>
                  <h6 class="timeline-description"> Gear Lift | Oct 2017 - Present</h6>
                  <p>Founder, CEO, and pricincple developer at Gear Lift - an outdoor gear recomendation website.  Repsponsible for all aspects of the business operation from strategic development to operations, financing and design. </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('banner_images/dv.png') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Data Visualization Engineer</h5>
                  <h6 class="timeline-description">Freelance | Jan 2017 - Present</h6>
                  <p>Freelance data visualization engineer / full stack developer. Collaborate with clients on the design and implementation of data driven web applications.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('projects/web-app.png') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Full Stack Web Developer / CTO</h5>
                  <h6 class="timeline-description">First Class Financial Services | 2014 - 2017</h6>
                  <p>CTO and Principal full stack developer at a Denver based mortgage company. Responsible for the design, development, and support of custom web applications that improve the user experience and bring greater ease and efficiency to the mortgage process.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('projects/line_mortgage.png') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Mortgage Planner / Operations</h5>
                  <h6 class="timeline-description">First Class Financial Services | 2011 - 2014</h6>
                  <p>Residential mortgage lending for home purchases, investment properties, and refinances. Developed long-standing relationship with key referral partners and clients by providing outstanding customer experience and detailed mortgage analysis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('banner_images/Aconcagua.jpg') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Owner / Mountain Guide</h5>
                  <h6 class="timeline-description">14er Fitness | 2009 - 2012</h6>
                  <p>Developed training programs for high altitude mountaineering and adventure fitness. Trainer and mountain guide on endurance excursion that included Mt. Kilimanjaro (19,341 ft), Mt. Aconcagua (22,841 ft), and Grand Canyon Rim to Rim.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><%= image_tag('banner_images/chicago.jpg') %></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Investment Banking - M&A Analyst</h5>
                  <h6 class="timeline-description">Panthera Global | 2008 - 2009</h6>
                  <p>Financial analysis for international healthcare mergers and acquisitions. Worked with senior bankers to develop comprehensive valuation models, including comparable trading, transaction multiples, and discounted cash flow analysis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
            </li>
            <div class="timeline-top"></div>
          </ul>
          <div class="text-center"><a class="btn btn-lg btn-gray" href="#"><span>Download CV</span></a></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Resume end-->

  <!-- Clients and Testimonials-->
  <section class="module module-dark">
    <div class="container">

      <!-- Testimonials-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 m-auto">

          <div class="tms-slides owl-carousel" data-carousel-options="{&quot;autoPlay&quot;: &quot;5000&quot;}">
            <div class="tms-item">
              <div class="tms-icons">
              <h2> <i class="icon ion-chatboxes"></i></h2>
              </div>
              <div class="tms-content">
                <blockquote>
                  <p>To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.</p>
                </blockquote>
              </div>
              <div class="tms-author">
                <h6>Ralph Waldo Emerson</h6>
              </div>
            </div>
            <!-- <div class="tms-item">
              <div class="tms-icons">
                <h2 class="icon-chat"></h2>
              </div>
              <div class="tms-content">
                <blockquote>
                  <p>Life should not be a journey to the grave with the intention of arriving safely in a pretty and well-preserved body, but rather to skid in broadside in a cloud of smoke, thoroughly used up, totally worn out, and loudly proclaiming “Wow! What a Ride!" </p>
                </blockquote>
              </div>
              <div class="tms-author">
                <h6>Hunter S. Thompson</h6>
              </div>
            </div> -->
          </div>
          <div class="spacer m-b-140"></div>
        </div>
      </div>
      <!-- Testimonials end-->

    </div>
  </section>
  <!-- Clients and Testimonials end-->

  <!-- Posts-->
  <section class="module module-gray" id="blog">
    <div class="container">
      <div class="row blog-grid" style="margin-top: -200px;">
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a target="_blank" href="https://www.onedataset.io/blog/2018/2/6/gdp-area-chart-tool"><%= image_tag('banner_images/dv.png') %>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a target="_blank" href="https://www.onedataset.io/blog/2018/2/6/gdp-area-chart-tool">Area Chart Tool</a></h2>
              </div>
              <div class="post-content">
                <p>For this visualization, I decided to see if I could apply the same design iteration techniques, from the previous post to an area chart...</p>
              </div>
            </div>
            <div class="post-info">February 2, 2018</div>
          </article>
          <!-- Post end-->
        </div>
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a target="_blank" href="https://www.onedataset.io/blog/2018/1/16/gdp-line-graph-tool"><%= image_tag('banner_images/line-graph_2.png') %>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a target="_blank" href="https://www.onedataset.io/blog/2018/1/16/gdp-line-graph-tool">Line Graph Tool</a></h2>
              </div>
              <div class="post-content">
                <p>For my first GDP visualization, I decided to see what I could create within the bounds of the traditional line graph.</p>
              </div>
            </div>
            <div class="post-info">Jan 1, 2018</div>
          </article>
          <!-- Post end-->
        </div>
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a target="_blank" href="https://www.onedataset.io/blog/2017/12/11/gross-domestic-product-data"><%= image_tag('banner_images/global_map_1.png') %>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a target="_blank" href="https://www.onedataset.io/blog/2017/12/11/gross-domestic-product-data">GDP Data</a></h2>
              </div>
              <div class="post-content">
                <p>Its time to jump back in and torture another dataset.  This time I'll be exploring global Gross Domestic Product (GDP)...</p>
              </div>
            </div>
            <div class="post-info">Nov 11, 2017</div>
          </article>
          <!-- Post end-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="spacer m-b-30"></div><a class="btn btn-brand" target="_blank" href="https://www.onedataset.io/"><span>View All Posts</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Posts end-->

  <!-- Contact-->
  <section class="module" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Let's talk</h2>
            <h6>Drop me a line</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form id="contact-form" method="post" novalidate>
            <div class="row">
              <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="name" placeholder="Name" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-4">
                <input class="form-control" type="email" name="email" placeholder="E-mail" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="phone" placeholder="Phone" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-12">
                <textarea class="form-control" name="message" placeholder="Message" rows="8" required="" style="height: 184px; ;"></textarea>
              </div>
              <div class="form-group col-sm-12">
                <div class="text-center m-t-20">
                  <button class="btn btn-round btn-brand" type="submit"><span>Send Message</span></button>
                </div>
              </div>
            </div>
          </form>
          <!-- Ajax response-->
          <div class="ajax-response text-center" id="contact-response"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="maps-container">
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Zqpq8GOiwzcgojUgvn6ZfVrosVCiXCU&callback=initMap">
    </script>

  </section>

  <!-- Map end-->

  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6"><span class="copyright">© 2017 <a href="#">2theme</a>, All Rights Reserved.</span></div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end-->
</div>
<!-- Wrapper end-->
