<!-- Wrapper-->
<div class="wrapper">

  <!-- Page Header-->
  <section class="module-header full-height parallax bg-dark bg-dark-30 text-left" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h1 m-b-15">Eric <br/> Wiseman</h1>
          <h1 class="h6 m-b-60">Entrepreneur / UX Designer / Rails Developer </h1>
          <!-- <h1 class="h6 m-b-60 rotate">UX Design / Data Visualization / Rails Development | Entreprenuer | Backcountry Skier</h1> -->
          <p><a class="btn btn-brand" href="#"><span>Download resume</span></a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Profile-->
  <section class="module" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Eric Wiseman</h2>
            <h6>You know...this stuff</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p> <img class="img-responsive wow fadeIn feature-image" <%= image_tag('banner_images/orizaba.jpg') %></p>
        </div>
        <div class="col-md-4">
          <h5>Profesional Profile</h5>
          <p>I design and engineer data-rich web applications and custom visualizations to help people see and reason about data. I have strong history of delivering and supporting quality, scalable, and tested web development applications. Highly cross-functional, with expertise that spans entrepreneurship, engineering, and design.</p>
        </div>
        <div class="col-md-4">
          <h5>My Skills</h5>
          <div class="progress-item">
            <div class="progress-title">UX Design</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">HTML / CSS3 / SASS</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">Rails Development</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">JavaScript</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
          <div class="progress-item">
            <div class="progress-title">Data Visualization</div>
            <div class="progress">
              <div class="progress-bar progress-bar-brand" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="pb-number-box"><span class="pb-number"></span>%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Profile end-->

  <!-- Counters-->
  <section class="module module-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="counter">
            <div class="counter-icon"><span class="icon-telescope"></span></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="3">0</div>
            </h5>
            <h5 class="counter-title">Full Stack Projects</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="counter">
            <div class="counter-icon"><span class="icon-strategy"></span></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="2">0</div>
            </h5>
            <h5 class="counter-title">Current Businesses</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="counter">
            <div class="counter-icon"><span class="icon-circle-compass"></span></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="30">0</div>
            </h5>
            <h5 class="counter-title">Data Visualizations</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="counter">
            <div class="counter-icon"><span class="icon-global"></span></div>
            <h5 class="counter-number">
              <div class="counter-timer" data-from="0" data-to="1">0</div>
            </h5>
            <h5 class="counter-title">Awards Won</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counters end-->

  <!-- Portfolio-->
  <section class="module p-b-0" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Portfolio</h2>
            <h6>For work and for fun</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="filters h6" id="filters">
            <li><a class="current" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".entrepreneurship">Business</a></li>
            <li><a href="#" data-filter=".rails">Rails Development</a></li>
            <li><a href="#" data-filter=".dv">Data Visualization</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row-portfolio" data-columns="4">
        <div class="grid-sizer"></div>
        <div class="portfolio-item js-tilt rails entrepreneurship large">
          <div class="portfolio-wrapper">
            <div class="img-responsive"><%= image_tag('projects/gearlift-two.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Gear Lift</h5>
              <h6 class="portfolio-subtitle">Entrepreneurship | Rails Development</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt dv">
          <div class="portfolio-wrapper">
          <div class="portfolio-img-wrap"><%= image_tag('projects/radial-column-two.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">Ski Resort Data Sketches</h5>
              <h6 class="portfolio-subtitle">Data Visualization</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt entrepreneurship rails">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap"><%= image_tag('projects/web-app.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">First Class Financial Services</h5>
              <h6 class="portfolio-subtitle">Entrepreneurship | Rails Development</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>
        <div class="portfolio-item js-tilt dv ">
          <div class="portfolio-wrapper">
            <div class="portfolio-img-wrap"><%= image_tag('projects/gdp-area.png') %></div>
            <div class="portfolio-overlay"></div>
            <div class="portfolio-caption">
              <h5 class="portfolio-title">GDP Data Sketches</h5>
              <h6 class="portfolio-subtitle">Data Visualization</h6>
            </div>
          </div><a class="portfolio-link" href="portfolio-single-1.html"></a>
        </div>


      </div>
    </div>
  </section>
  <!-- Portfolio end-->

  <!-- Services-->
  <section class="module" id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-telescope"></span></div>
            <div class="icon-box-title">
              <h5>Free Plugins</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-mobile"></span></div>
            <div class="icon-box-title">
              <h5>Fully Responsive</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-chat"></span></div>
            <div class="icon-box-title">
              <h5>Friendly Support</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-gears"></span></div>
            <div class="icon-box-title">
              <h5>Unlimited Colors</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-strategy"></span></div>
            <div class="icon-box-title">
              <h5>Unlimited Headers</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <div class="icon-box-icon"><span class="icon-linegraph"></span></div>
            <div class="icon-box-title">
              <h5>Google Web Fonts</h5>
            </div>
            <div class="icon-box-content">
              <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services end-->

  <!-- Resume-->
  <section class="module module-gray" id="resume">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Resume</h2>
            <h6>My experience</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="assets/images/features/1.jpg" alt=""></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Data Visualization Engineer</h5>
                  <h6 class="timeline-description">Freelance | Aug 2017 - Present</h6>
                  <p>Freelance data visualization engineer / full stack developer. Collaborate with clients on the design and implementation of data driven web applications.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="assets/images/features/2.jpg" alt=""></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Full Stack Web Developer / CTO</h5>
                  <h6 class="timeline-description">First Class Financial Services | 2014 - 2017</h6>
                  <p>Principal full stack developer at a Denver based mortgage company. Responsible for the design, development, and support of custom web applications that improve the user experience and bring greater ease and efficiency to the mortgage process.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="assets/images/features/3.jpg" alt=""></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Mortgage Planner / Operations</h5>
                  <h6 class="timeline-description">First Class Financial Services | 2011 - 2014</h6>
                  <p>Residential mortgage lending for home purchases, investment properties, and refinances. Developed long-standing relationship with key referral partners and clients by providing outstanding customer experience and detailed mortgage analysis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="assets/images/features/4.jpg" alt=""></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Owner / Mountain Guide</h5>
                  <h6 class="timeline-description">14er Fitness | 2009 - 2012</h6>
                  <p>Developed training programs for high altitude mountaineering and adventure fitness. Trainer and mountain guide on endurance excursion that included Mt. Kilimanjaro (19,341 ft), Mt. Aconcagua (22,841 ft), and Grand Canyon Rim to Rim.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="assets/images/features/3.jpg" alt=""></div>
                <div class="timeline-body">
                  <h5 class="timeline-title">Mergers & Acquisitions Analyst</h5>
                  <h6 class="timeline-description">Panthera Global | 2008 - 2009</h6>
                  <p>Financial analysis for international health care mergers and acquisitions. Worked with senior bankers to develop comprehensive valuation models, including comparable trading, transaction multiples, and discounted cash flow analysis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
            </li>
            <div class="timeline-top"></div>
          </ul>
          <div class="text-center"><a class="btn btn-lg btn-gray" href="#"><span>Download CV</span></a></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Resume end-->

  <!-- Clients and Testimonials-->
  <section class="module module-dark">
    <div class="container">

      <!-- Clients-->
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel clients-carousel">
            <div class="client"><a href="#"><img src="assets/images/clients/logo-1.png" alt=""></a></div>
            <div class="client"><a href="#"><img src="assets/images/clients/logo-2.png" alt=""></a></div>
            <div class="client"><a href="#"><img src="assets/images/clients/logo-3.png" alt=""></a></div>
            <div class="client"><a href="#"><img src="assets/images/clients/logo-4.png" alt=""></a></div>
          </div>
        </div>
      </div>
      <!-- Clients end-->

      <!-- Testimonials-->
      <div class="row">
        <div class="col-md-8 m-auto">
          <div class="spacer m-t-140"></div>
          <div class="tms-slides owl-carousel" data-carousel-options="{&quot;autoPlay&quot;: &quot;5000&quot;}">
            <div class="tms-item">
              <div class="tms-icons">
                <h2 class="icon-chat"></h2>
              </div>
              <div class="tms-content">
                <blockquote>
                  <p>If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.</p>
                </blockquote>
              </div>
              <div class="tms-author">
                <h6>J.K. Rowling</h6>
              </div>
            </div>
            <div class="tms-item">
              <div class="tms-icons">
                <h2 class="icon-chat"></h2>
              </div>
              <div class="tms-content">
                <blockquote>
                  <p>To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.</p>
                </blockquote>
              </div>
              <div class="tms-author">
                <h6>Ralph Waldo Emerson</h6>
              </div>
            </div>
            <div class="tms-item">
              <div class="tms-icons">
                <h2 class="icon-chat"></h2>
              </div>
              <div class="tms-content">
                <blockquote>
                  <p>Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.</p>
                </blockquote>
              </div>
              <div class="tms-author">
                <h6>Marilyn Monroe</h6>
              </div>
            </div>
          </div>
          <div class="spacer m-b-140"></div>
        </div>
      </div>
      <!-- Testimonials end-->

    </div>
  </section>
  <!-- Clients and Testimonials end-->

  <!-- Posts-->
  <section class="module module-gray" id="blog">
    <div class="container">
      <div class="row blog-grid" style="margin-top: -200px;">
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a href="#"><img src="assets/images/blog/1.jpg" alt=""></a>
              <div class="post-category"><a href="#">Lifestyle</a></div>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a href="blog-single.html">New Trends</a></h2>
              </div>
              <div class="post-content">
                <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
              </div>
            </div>
            <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
          </article>
          <!-- Post end-->
        </div>
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a href="#"><img src="assets/images/blog/3.jpg" alt=""></a>
              <div class="post-category" data-background-color="#ffbb44"><a href="#">Science</a></div>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a href="blog-single.html">Behind the color</a></h2>
              </div>
              <div class="post-content">
                <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
              </div>
            </div>
            <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
          </article>
          <!-- Post end-->
        </div>
        <div class="col-md-4 post-item">

          <!-- Post-->
          <article class="post">
            <div class="post-preview"><a href="#"><img src="assets/images/blog/5.jpg" alt=""></a>
              <div class="post-category" data-background-color="#4CAF50"><a href="#">Business</a></div>
            </div>
            <div class="post-wrapper">
              <div class="post-header">
                <h2 class="post-title"><a href="blog-single.html">Bicycles</a></h2>
              </div>
              <div class="post-content">
                <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
              </div>
            </div>
            <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
          </article>
          <!-- Post end-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="spacer m-b-30"></div><a class="btn btn-brand" href="#"><span>View All Posts</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Posts end-->

  <!-- Contact-->
  <section class="module" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="m-title c-align">
            <h2>Let's talk</h2>
            <h6>Drop us a line or give us a ring</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form id="contact-form" method="post" novalidate>
            <div class="row">
              <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="name" placeholder="Name" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-4">
                <input class="form-control" type="email" name="email" placeholder="E-mail" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-4">
                <input class="form-control" type="text" name="phone" placeholder="Phone" required="">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group col-sm-12">
                <textarea class="form-control" name="message" placeholder="Message" rows="8" required="" style="height: 184px; ;"></textarea>
              </div>
              <div class="form-group col-sm-12">
                <div class="text-center m-t-20">
                  <button class="btn btn-round btn-brand" type="submit"><span>Send Message</span></button>
                </div>
              </div>
            </div>
          </form>
          <!-- Ajax response-->
          <div class="ajax-response text-center" id="contact-response"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Map-->
  <section class="maps-container">
    <div class="map" data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="assets/images/map-icon.png" data-zoom="15"></div>
  </section>
  <!-- Map end-->

  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6"><span class="copyright">© 2017 <a href="#">2theme</a>, All Rights Reserved.</span></div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-behance-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end-->
</div>
<!-- Wrapper end-->
