<div class="section-big">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12>
      <div class="float-md-left">
        <%= link_to "+", new_sprint_path, class: 'btn btn-primary' %>
      </div>
      <div class="ibox-content">
        <div class="center_div">
          <div class="row">
            <h3 class="table-labels">Active</h3>

          </div>
          <div class="row-table ">
            <div class="table-responsive">
              <table data-toggle="table" data-pagination="true" class='table table-bordered'>
                <thead class="thead-light">
                <tr>
                  <th data-sortable="true"> Sprint Start Date </th>
                  <th data-sortable="true"> All Tasks </th>
                  <th data-sortable="true"> Tasks Remaining </th>
                  <th data-sortable="true"> Tasks Complete </th>
                  <th data-sortable="true"> % </th>


                </tr>
              </thead>
              <tbody>
                <% @sprints.each do |sprint| %>
                  <tr>
                    <td>
                      <%= link_to format_long_date(sprint.sprint_date), sprint_path(sprint) %>
                    </td>
                    <td>
                      <%= sprint.tasks.count %>
                    </td>
                    <td>
                      <%= sprint.working.count %>
                    </td>
                    <td>
                      <%= sprint.complete.count %>
                    </td>
                    <td>
                      <%= number_to_percentage(sprint.percentage_complete, precision: 0) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
