
<div class="container">
  <h1><%= @sprint.sprint_date %></h1>
  <%= link_to "Edit Sprint", edit_sprint_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <div class="col-md-6">
    <div class="ibox-content pipeline">
      <div class="row">
        <ul class="chat">
          <div class='new-note'>
            <%= render partial: 'tasks/form', locals: { sprint: @sprint, task: @task } %>
          </div>
          <div class='js-tasks'>
            <%= render @tasks %>
          </div>
          <h3>
          <a class="btn btn-cta btn-cta-client-file-name btn-group-justified text-left" data-toggle="modal" data-target="#myModal">
             modal
          </a>
        </h3>
        </ul>
      </div>
    </div>
  </div>
  <%= render partial: 'tasks/task_modal' %>
</div>
