
<div class="container-fluid">
  <h1><%= format_long_date(@sprint.sprint_date) %></h1>
  <%= link_to "Edit Sprint", edit_sprint_path, class: 'btn btn-primary' %>
  <br>
  <br><%= render 'notices' %>
  <div class='new-note'>
    <%= render partial: 'tasks/form', locals: { sprint: @sprint, task: @task } %>
  </div>
  <br>
  <br>
  <br>



  <div class="row">
    <div class="col-md-2">
      <div class="day-of-week">Monday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_monday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Tuesday</div>
        <ul class='tasks-daily'>
          <%= render @tasks_tuesday %>
        </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Wednesday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_wednesday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Thursday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_thursday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Friday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_friday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Sat / Sun</div>
      <ul class='tasks-daily'>
        <%= render @tasks_sat_sun %>
      </ul>
    </div>
  </div>

    <br>

  <div class="row">
    <div class="col-md-2">
      <div class="day-of-week">Tasks</div>
      <ul class='js-tasks'>
        <%= render @tasks.where(day: "") %>
      </ul>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

</div>
