
<div class="container-fluid">
  <h3>Week of <%= format_long_date(@sprint.sprint_date) %> <%= link_to "edit", edit_sprint_path, class: 'small' %></h3>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#task-modal">
    Add Task
  </button>


  <div class="row">
      <br>
    <div class="col-md-2">
      <div class="day-of-week">Monday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_monday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Tuesday</div>
        <ul class='tasks-daily'>
          <%= render @tasks_tuesday %>
        </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Wednesday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_wednesday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Thursday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_thursday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Friday</div>
      <ul class='tasks-daily'>
        <%= render @tasks_friday %>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="day-of-week">Sat / Sun</div>
      <ul class='tasks-daily'>
        <%= render @tasks_sat_sun %>
      </ul>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

</div>
  <%= render partial: 'tasks/edit_modal' %>
  <%= render partial: 'tasks/task_modal' %>
