<div class="container avoid-menu">
  <h2><%= @recipe.name %></h2>
  <div class="col-lg-6 col-md-6">
    <p class="recipe-directions"><%= @recipe.directions %></p>
    <p class="recipe-directions"><%= @recipe.cookbook.name %> - Page: <%= @recipe.cookbook_page %></p>
  </div>
  <div class="col-lg-6 col-md-6">
    <% @measurement_ingredients.each do | y | %>
      <p class="recipe-ingredients"><%= y.ingredient.name %> (<%= "%g" % y.unit %> <%= y.type_of_measurement %>)</p>
    <% end %>
  </div>
</div>
